@import org.incal.play.controllers.WebContext
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.pdchallenge.routes.{PDChallengeClusteringController => challengeRoutes}
@import views.html.basicSideBar

@()(implicit context: WebContext)

@defining(context.configuration.getInt("pdchallange.sidebar.urlparts.count").getOrElse(2)) { urlPartsCounts =>
    @basicSideBar(Seq(
        ("1. mPower", Seq(
            (challengeRoutes.mPowerMDS(topRank = Some(10)), "MDS", Some(urlPartsCounts)),
            (challengeRoutes.mPowerTSNE(topRank = Some(10)), "t-SNE", Some(urlPartsCounts))
        )),
        ("2.1 Tremor", Seq(
            (challengeRoutes.tremorMDS(topRank = Some(10)), "MDS", Some(urlPartsCounts)),
            (challengeRoutes.tremorTSNE(topRank = Some(10)), "t-SNE", Some(urlPartsCounts))
        )),
        ("2.2 Dyskinesia", Seq(
            (challengeRoutes.dyskinesiaMDS(topRank = Some(10)), "MDS", Some(urlPartsCounts)),
            (challengeRoutes.dyskinesiaTSNE(topRank = Some(10)), "t-SNE", Some(urlPartsCounts))
        )),
        ("2.3 Bradykinesia", Seq(
            (challengeRoutes.bradykinesiaMDS(topRank = Some(10)), "MDS", Some(urlPartsCounts)),
            (challengeRoutes.bradykinesiaTSNE(topRank = Some(10)), "t-SNE", Some(urlPartsCounts))
        ))
    ))
}