@import org.incal.play.controllers.WebContext
@import org.incal.play.controllers.WebContext._
@import org.ada.web.controllers.pdchallenge.routes.{PDChallengeCorrelationController => challengeRoutes}
@import views.html.basicSideBar

@()(implicit context: WebContext)

@defining(context.configuration.getInt("pdchallange.sidebar.urlparts.count").getOrElse(2)) { urlPartsCounts =>
    @basicSideBar(Seq(
        ("1. mPower", Seq(
            (challengeRoutes.mPowerTeamNetwork(), "Teams", Some(urlPartsCounts)),
            (challengeRoutes.mPowerSubmissionNetwork(), "Submissions", Some(urlPartsCounts))
        )),
        ("2.1 Tremor", Seq(
            (challengeRoutes.tremorTeamNetwork(), "Teams", Some(urlPartsCounts)),
            (challengeRoutes.tremorSubmissionNetwork(), "Submissions", Some(urlPartsCounts))
        )),
        ("2.2 Dyskinesia", Seq(
            (challengeRoutes.dyskinesiaTeamNetwork(), "Teams", Some(urlPartsCounts)),
            (challengeRoutes.dyskinesiaSubmissionNetwork(), "Submissions", Some(urlPartsCounts))
        )),
        ("2.3 Bradykinesia", Seq(
            (challengeRoutes.bradykinesiaTeamNetwork(), "Teams", Some(urlPartsCounts)),
            (challengeRoutes.bradykinesiaSubmissionNetwork(), "Submissions", Some(urlPartsCounts))
        ))
    ))
}